*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #121214;
    height: 100vh;
    
    display: grid;

    /*
                   COLUNA 1     COLUNA 2    COLUNA 3
  
    LINHA 1    |    cx1     |    cx2     |    cx3    |
    LINHA 2    |    cx4     |    cx5     |    cx6    |
    LINHA 3    |    cx7     |    cx8     |    cx9    |
    
    */

    grid-template-areas: 
    "cx1 cx2 cx3"
    "cx4 cx5 cx6"
    "cx7 cx8 cx9";

    gap: 5px;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: 1fr 1fr 1fr;

    justify-items: center;

    align-items: center;
    
}

.container div{
    background-color: #1EE8CA;
    width: 50%;
    height: 50%;   
}